.w100vw {
  width: 100vw;
}

.h100vh {
  height: 100vh;
}
.nav-set {
  display: 'flex';
  flex-direction: 'row-reverse';
  align-items: 'center';
  padding-right: '15px';
  justify-content: 'space-around';
  font-size: '15px';
}

.font20 {
  font-size: 20px;
}
