#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.nav-set {
  display: 'flex';
  flex-direction: 'row-reverse';
  align-items: 'center';
  padding-right: '15px';
  justify-content: 'space-around';
  font-size: '15px';
}
