.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border-radius: 13px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 13px;
}

.flip-card-inner--hover {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(
    45deg,
    #1fa5ff 25%,
    #1053ff 25%,
    #1053ff 50%,
    #1fa5ff 50%,
    #1fa5ff 75%,
    #1053ff 75%,
    #1053ff 100%
  );
  background-size: 56px 56px;
  border-radius: 13px;
}

.flip-card-back {
  background-color: transparent;
  transform: rotateY(180deg);
}
.flip-card-front::before,
.flip-card-front::after {
  border-radius: 13px;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#20e4a4, #2cc9cc);
  opacity: 0.8;
}

.card-hidden {
  visibility: hidden;
}
